version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: rent-my-drones-fe-dev
    ports:
      - "3000:3000"
    environment:
      - HOST=${HOST}
