

 /*
 * Rule set for the add-drone component's overall container- first div
*/
.add-drone{
    
    height:90vh;
    background-color: white;
}

/*
 * rule set for the add-drone-body
 */
 .add-drone-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

/*
 * The rule sets below are for add-drone-form-sub-comp.jsx
*/

/*
 * Rule set for sub comp container
*/
.add-drone-container{
    width:90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(83, 81, 81, 0.9);

}

/*
 * Rule set for add-drone form container
*/
.add-drone-form-container{
    margin:auto;
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*
 * Rule set for the add-drone header
 */
 .add-drone-header{
    font-size: xx-large;
    
 }

 /*
  * Rules set for the add-drone labels
  */
  .add-drone-labels{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
  * Rules set for the add-drone text boxes
  */
  .add-drone-txt-boxes{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
   * Rule set for add-drone group- container for labels and text boxes
   */
   .add-drone-group{
    display: flex;
    flex-direction: row;
    height:80%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
   }

   /*
    * Rule set for the add-drone form
    */
    .add-drone-form{
        height:70%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /*
     * Rule set for the button container that houses the submit button
    */
    .add-drone-btn-container{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%; 
        width:60%;
    }
    /*
     * Rule set for the add-drone submit button
    */
    .btn-add-drone{
        border-radius: 20px;
        width: 60%;
        height:60%;
   
        background-color: black;
        color:white;
    }

    /*
     * Rule set for the submit button when the mouse cursor is hovering over it.
     */
    .btn-add-drone:hover{    
    
         animation:scale-up-hor-center linear 0.3s forwards;
    }

    /*
     * Rule set for the styling of error messages
     */
     .errors{
        color:red;
     }

 /* ----------------------------------------------
 * Generated by Animista on 2025-11-25 11:4:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}


@media screen and (max-width:600px){
   .add-drone-container{
      width:90%;
      flex-direction: column;

   }

   .btn-add-drone{
    height:80%;
   }
   .add-drone-img{
    width:100%;
   }
   .add-drone-form-container{
    margin: auto;
    width:100%;
   }
   .add-drone-group{
    width:100%;
   }
}

/******************************************************/
