
/*
 * styling for positioning of all elements
 */
 .available-body{
        height:100vh;
        display: flex;
    
        justify-content: center;
        align-items: center;
 }

 /*
  * styling for the available card container
  */
  .available-container{
        
        height:90%;
        width:90%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
  }

  /*
   * styling for the card container
   */
   .card-container{
        height: 90%;
        
        width:90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 3em;
        
   }

   /*
    * styling for available header
    */
    .available-header{
        font-size: x-large;
    }