.available-header{
    font-size:xx-large;
    font-family:sans-serif;
    text-align: center;
}

.available-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding-top:3%;
}

.available-card{
    width:10rem;
    height: 20rem;
    border:1px solid grey;
    margin-bottom: 5%;    
}

.available-card:hover{
    box-shadow: 0px 1px 1px 2px rgba(86,86,86, 0.4);
}
.drone-images{
    width: 100%;
    height:100%;
}


.drone-image-container{
    height:7rem;     
}

.drone-info{
    text-align: center;    
    height: 9rem;
}

.drone-button{    
    text-align: center;    
}

.drone-button Button{
    border:1px solid black;
}

.drone-button Button:hover{
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgb(86,86,0.6);
}