
/*
 * styling for the available card.
 */
.available-card{
    border:1px solid black;
    width:30%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.9);
}

.available-card-img{
    width:100%;
    height:100%;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
}

.available-card-form{
    
   
    height:100%;
    width: 100%;
}

.available-card-img-container{
    height: 50%;
    
}


.available-card-info-container{
    height:50%;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
}

.available-card-info-container h2{
    font-size: x-large;
    font-weight: bolder;
}


.btn-rent{
    color:white;
    height:2em;
    width: 7em;
    border-radius: 20px;
    background-color: black;
}


@media screen and (max-width:600px){
    .available-card{
        height: 100%;
        width:100%;
    }
}