.home-container{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top:1%;
    
}



#title-drone{
    width:70%;
    align-self: center;
    border:1px solid purple;
    box-shadow: 1px 1px rgba(128,0,128,0.8);
    height: 30vh;
    
}