.home-container{
        
    display:flex;
    flex-direction: column;
    text-align: center;    
}




.drone-img{
   
    background-repeat: no-repeat;
    background-image:url('../assets/Drone_In_The_Hand.jpg');
    width:100%;
    height: 60vh;
    background-attachment: scroll;
    background-size:cover;
    background-position: center;
    box-shadow: 0px 0px 2px rgba(0, 49, 128, 0.8); 
}

.main-doc{
    color:black;
    padding-top:2%;
    font-size: xx-small;
    width:100%;    
    box-shadow: 0px 0px 2px  rgba(128, 128, 128, 0.301);
    padding-bottom: 2%;
}

.main-doc p{
    color: black;
    font-weight: bolder;
}

.main-doc h1{
    font-size:x-large;
    padding-bottom: 1rem;
}

