.home-container{
        
    display:flex;
    flex-direction: column;
    text-align: center;    
}


/*
 * Rule set to style drone-img div
 * attribution for asset : Photo by <a href="https://unsplash.com/@dose?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dose Media</a> on <a href="https://unsplash.com/photos/turned-on-black-quadcopter-drone-DiTiYQx0mh4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      
*/

.drone-img{
   
    background-repeat: no-repeat;
    background-image:url('../Assets/Drone_In_The_Hand.jpg');
    width:100%;
    height: 100vh;
    background-attachment: scroll;
    background-size:cover;
    background-position: center;
    box-shadow: 0px 0px 2px rgba(0, 49, 128, 0.8); 
}

.hero-text-header{
    font-size: xx-large;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    width: 30%;
    height: 40%;
    margin-top:12%;
    color:white;
    opacity: 0.9;
    border-radius:20px;
    margin-left: 1%;
    
}

.hero-text{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

@media screen and (max-width:600px){
    .hero-text-container{        
        margin:auto;  
        width:100%;  
        background-color: black;
        color:white;
        height:30%;
        border-radius: 0px;            
    }

    .hero-text-header{
        font-size: x-large;
    }

    .hero-text{
        
        font-size:medium;
        min-height: 100%;
        min-width: 10em;
        
    }
}





