
/*
 * Attribution: 
 * Photo by <a href="https://unsplash.com/@brennan_marttinez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brennan Martinez</a> on <a href="https://unsplash.com/photos/person-holding-black-and-red-quadcopter-drone-TtJNbsmP_fU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 * login_asset.jpg
*/


/*
 * Styling for the main body of login comp
 */
 .login-img{
    background-image: url('../Assets/login_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .login-main{
    height: 100vh;
 }

/*
 * Styling for the container of the form
 */
 .login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    border:1px solid black;
    background-color: black;
    width:50%;
    border-radius: 20px;
    height:60%;
    color:white;
    opacity: 0.9;
   
    
    
 }

 
/*
 * Positioning for the container of login-labels and login-txt-boxes
 */
.login-form > .input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*
 * Styling for the login labels for text boxes
 */
.login-labels{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/*
 * Styling for the login text boxes
 */
 .login-txt-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 } 

 .btn-container{
    margin:auto;
    text-align: center;
 }

 .login-header{
    font-size: x-large;
 }

 .login-labels{
    font-size: large;
 }

 .btn-container{   
   height:20%;
 }
 .btn-login{
   border-radius: 20px;
   width: 60%;
   height:60%;
   
   background: #66666b;
   background: linear-gradient(180deg,rgba(102, 102, 107, 1) 0%, rgba(252, 252, 252, 1) 49%, rgba(186, 173, 173, 1) 100%);
 }

 .btn-login:hover{    
    
    animation:scale-up-hor-center linear 0.3s forwards;
}

 /* ----------------------------------------------
 * Generated by Animista on 2025-11-25 11:4:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}


@media screen and (max-width:600px){
   .login-container{
      width:90%;
   }
}
