
/*
 * Attribution: 
 * Photo by <a href="https://unsplash.com/@brennan_marttinez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brennan Martinez</a> on <a href="https://unsplash.com/photos/person-holding-black-and-red-quadcopter-drone-TtJNbsmP_fU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 * login_asset.jpg
*/


/*
 * Styling for the main body of login comp
 */
 .login-img{
    background-image: url('../Assets/login_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
 }

 /*
 * Rule set for the login component's overall container- first div
*/
.login{
    
    height:90vh;
    background-color: white;
}

/*
 * rule set for the login-body
 */
 .login-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

/*
 * The rule sets below are for login-form-sub-comp.jsx
*/

/*
 * Rule set for sub comp container
*/
.login-container{
    width:90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(83, 81, 81, 0.9);

}

/*
 * Rule set for login form container
*/
.login-form-container{
    
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*
 * Rule set for the login header
 */
 .login-header{
    font-size: xx-large;
    
 }

 /*
  * Rules set for the login labels
  */
  .login-labels{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
  * Rules set for the login text boxes
  */
  .login-txt-boxes{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
   * Rule set for login group- container for labels and text boxes
   */
   .login-group{
    display: flex;
    flex-direction: row;
    height:80%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
   }

   /*
    * Rule set for the login form
    */
    .login-form{
        height:70%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /*
     * Rule set for the button container that houses the submit button
    */
    .login-btn-container{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%; 
        width:60%;
    }
    /*
     * Rule set for the login submit button
    */
    .btn-login{
        border-radius: 20px;
        width: 60%;
        height:60%;
   
        background-color: black;
        color:white;
    }

    /*
     * Rule set for the submit button when the mouse cursor is hovering over it.
     */
    .btn-login:hover{    
    
         animation:scale-up-hor-center linear 0.3s forwards;
    }

    /*
     * Rule set for the styling of error messages
     */
     .errors{
        color:red;
     }

 /* ----------------------------------------------
 * Generated by Animista on 2025-11-25 11:4:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}


@media screen and (max-width:600px){
   .login-container{
      width:90%;
   }
}

/******************************************************/
