.container{
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.301) ; 
    width:40%;
    height:20%;   
    
}

.login-container{
    max-height:35em;
    min-height: 35em;

}

.container h2{
    padding-top:5%;
    text-align: center;
}

.container Button{
    width:50%;
    margin-left:20%;
    border-radius: 20px;
    text-decoration: none;
    background-color:black;
    border:none;
    color:white;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.301);
    
}

.container Button:hover{
    animation:button-animation linear 0.3s infinite;
}

@keyframes button-animation {

    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-5deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(0deg);
    }
    
}

.login-container{
    padding-top:6%;
    display:flex;
    justify-content: center;
}

.input-group{
    padding-top:1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    height: 50vh;
    margin-left:10%;
   
}

.input-group a{
    text-decoration: none;
    text-transform: none;
}

.input-group input{
    width:90%;
}

.errors{
    color:red;
  }


  @media  screen and (max-width:480px) {
      .container{
          border-radius: 30px;
      }
  }