
/*
 * Attribution: 
 * Photo by <a href="https://unsplash.com/@brennan_marttinez?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brennan Martinez</a> on <a href="https://unsplash.com/photos/person-holding-black-and-red-quadcopter-drone-TtJNbsmP_fU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 * login_asset.jpg
*/


/*
 * Styling for the main body of login comp
 */
 .login-main{
    background-image: url('../Assets/login_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
 }

/*
 * Styling for the container of the form
 */
 .login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
 }

 
/*
 * Positioning for the container of login-labels and login-txt-boxes
 */
.input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*
 * Styling for the login labels for text boxes
 */
.login-labels{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/*
 * Styling for the login text boxes
 */
 .login-txt-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 } 