.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2%;
    color:white;
    background-color:black;
}

.navbar Button{
    background-color:black;
    border:none;
    font-size: larger;
    color:white;
}

.navbar Button:hover{
    background-color: black;
    opacity: 0.5;
}





.nav-container{   
    box-shadow: 0px 0px 2px rgba(19, 0, 128, 0.8);   
}