/*
 * attribution: <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
 */

 /*
  * attribution: Photo by <a href="https://unsplash.com/@aaronburden?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Aaron Burden</a> on <a href="https://unsplash.com/photos/black-and-white-dji-quadcopters-cKdqPpL1EuY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      
 */

.mobile-dashboard{
    display: none;
}

.owner-body{
    display: flex;
    justify-content: center;  

    height:95vh;
    background-image:url('../Assets/owner_dash_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
.dashboard-container{    
    width:90%;
    height:70%;    
    background-color: rgba(255,255,255,0);
    color:black;
}

.big-card-group{    
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.big-card-header{
    height:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align: center;
    font-size: x-large;
}

.profile-img{
    background-image: url("../Assets/dashboardimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size:2em;
    height:50%;
    width:50%;
    border-radius: 50%;
    margin:auto;
}
 .big-card{
    background-color: white;
    height:40%;
    width:40%;
    border:1px solid black;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px rgba(118, 116, 116, 0.9);
    border-radius: 20px;
    
    
}

.dashboard-container > .big-card-group > .btn-card:hover{
    animation: scale-up 0.4s forwards;
}

.dashboard-container > .big-card-group > .btn-card:not(:hover){
    transform: scale(1.0);

}


/*
 * Stylings for mobile phone devices
 */
@media screen and (max-width:600px){

    .dashboard-container{
        align-items: center;
       
        height:90%;
    }

    .mobile-dashboard{
        background-image:url('../Assets/owner_dash_asset.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;    
        display: block;
        height: 35vh;        
        margin:auto;
        top:0;
        left: 0;
        right:0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        

    }
    .dashboard-body{       
        background-image: none;
        height:65vh;        
    }
    .big-card-group{
        flex-direction: column;
        row-gap: 20px;
        height: 100%;
       

    }

    .big-card{
        width:100%;
        height: 40%;
    }
}


