
.dashboard-header{
    font-size:xx-large;
    font-family:sans-serif;
    text-align: center;
}

.dashboard-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding-top:10%;
}

.dashboard-card{
    min-height: 15rem;
    width: 15rem;        
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(128,128,128,0.8);
    margin-bottom:5%;
    padding-top:1%;
    background-color:black;
    opacity: 0.9;
    color:white;
    font-size: xx-large;
}

.dashboard-card:hover{
    animation:button-animation linear 0.4s infinite;
}

@keyframes button-animation {

    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(-5deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(0deg);
    }
    
}


#available-card{
    background-image:url('https://images.unsplash.com/photo-1477160739634-171ff0343882?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1212&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#rented-card{
    background-image:url('https://images.unsplash.com/photo-1524512099866-c65c6bfb2617?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width:480px) {
    .dashboard-card{
        opacity: 1;
    }
}


