
/*
 * attribution: <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
 */


.dashboard-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image:url('https://images.unsplash.com/photo-1477160739634-171ff0343882?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1212&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.dashboard-container{
   
    width:90%;
    height:70%;    
    background-color: rgba(255,255,255,0);
    color:black;
}

.big-card-group{
    
    height:60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.big-card-header{
    height:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    text-align: center;
    font-size: x-large;
}

.profile-img{
    background-image: url("../Assets/dashboardimg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size:2em;
    height:50%;
    width:50%;
    border-radius: 50%;
    margin:auto;
}
 .big-card{
    background-color: white;
    height:40%;
    width:40%;
    border:1px solid black;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px rgba(118, 116, 116, 0.9);
    border-radius: 20px;
    
    
}

.dashboard-container > .big-card-group > .btn-card:hover{
    animation: scale-up 0.4s forwards;
}

.dashboard-container > .big-card-group > .btn-card:not(:hover){
    transform: scale(1.0);

}

.rented-card{
    background-image:url('https://images.unsplash.com/photo-1524512099866-c65c6bfb2617?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    width: 15rem;   
}




@keyframes scale-up {

    0%{
        transform:scale(1.0);
    }
    100%{
        transform: scale(1.2);
    }
    
}


