/*
 * attribution: Photo by <a href="https://unsplash.com/@alvannee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alvan Nee</a> on <a href="https://unsplash.com/photos/man-standing-near-drone-BRf5pG8h1nU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 * Styling rule set for main background image  
*/
.signup-img{
    background-image: url('../Assets/signup_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * Rule set for the signup component's overall container- first div
*/
.signup{
    height:100vh;
}

/*
 * rule set for the signup-body
 */
 .signup-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

/*
 * The rule sets below are for signup-form-sub-comp.jsx
*/

/*
 * Rule set for sub comp container
*/
.signup-container{
    width:90%;
    height: 90%;

}

/******************************************************/
