/*
 * attribution: Photo by <a href="https://unsplash.com/@alvannee?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alvan Nee</a> on <a href="https://unsplash.com/photos/man-standing-near-drone-BRf5pG8h1nU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
 * Styling rule set for main background image  
*/
.signup-img{
    background-image: url('../Assets/signup_asset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

/*
 * Rule set for the signup component's overall container- first div
*/
.signup{
    
    height:90vh;
    background-color: white;
}

/*
 * rule set for the signup-body
 */
 .signup-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
 }

/*
 * The rule sets below are for signup-form-sub-comp.jsx
*/

/*
 * Rule set for sub comp container
*/
.signup-container{
    width:90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(83, 81, 81, 0.9);

}

/*
 * Rule set for signup form container
*/
.signup-form-container{
    
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*
 * Rule set for the signup header
 */
 .signup-header{
    font-size: xx-large;
    
 }

 /*
  * Rules set for the signup labels
  */
  .signup-labels{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
  * Rules set for the signup text boxes
  */
  .signup-txt-boxes{
    display: flex;
    flex-direction: column;
    height:60%;
    justify-content: space-evenly;
  }

  /*
   * Rule set for signup group- container for labels and text boxes
   */
   .signup-group{
    display: flex;
    flex-direction: row;
    height:80%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
   }

   /*
    * Rule set for the signup form
    */
    .signup-form{
        height:70%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /*
     * Rule set for the button container that houses the submit button
    */
    .signup-btn-container{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%; 
        width:60%;
    }
    /*
     * Rule set for the signup submit button
    */
    .btn-signup{
        border-radius: 20px;
        width: 60%;
        height:60%;
   
        background-color: black;
        color:white;
    }

    /*
     * Rule set for the submit button when the mouse cursor is hovering over it.
     */
    .btn-signup:hover{    
    
         animation:scale-up-hor-center linear 0.3s forwards;
    }

 /* ----------------------------------------------
 * Generated by Animista on 2025-11-25 11:4:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}


@media screen and (max-width:600px){
   .signup-container{
      width:90%;
   }
}

/******************************************************/
